.header{
    width: 100%;
    height: 30% ;
    background-color: bisque;
}
.Linkribbon{
    width: 100%;
    height: 10%;
    background-color: khaki;
    color: black;
}
.centerArea
{
    width: 100%;
    height: 60% ;
}